.delete {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardBorder {
    border-left: 5px solid green;
}

.cardContainer {
   cursor: pointer; 
}

button > a {
    text-decoration: none;
    color:#fff;
}
